.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cardContainer {
  display: flex;
  margin: 1.5rem;
}

.cardsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.createActions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.tasksTitle {
  text-align: center;
  margin-top: 1rem;
}
